<div *ngIf="task">
    <div class="card" style="margin: 20px 0px">
        <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">
                {{ task.description }}
            </p>
            <a routerLink="/tasks" class="card-link">Go Back</a>
            <a [routerLink]="['/tasks/edit', task._id]" class="card-link">Edit</a>
        </div>
    </div>
</div>