<div *ngFor="let item of tasks">
    <div class="card" style="margin: 20px 0px">
        <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">
                {{ item.description }}
            </p>
            <a [routerLink]="['/tasks/task', item._id]" class="card-link">Show</a>
            <a [routerLink]="['/tasks/edit', item._id]" class="card-link">Edit</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
