<form action="#">
    <div class="form-group">
        <label for="txtTitle">Title</label>
        <input 
            type="text" 
            class="form-control" 
            id="txtTitle" 
            [(ngModel)]="task.title"
            name="title"
            required />
    </div>
    <div class="form-group">
        <label for="txtDescription">Description</label>
        <textarea 
            class="form-control" 
            id="txtDescription" 
            rows="3" 
            [(ngModel)]="task.description"
            name="description"
            required>
        </textarea>
    </div>
    <div *ngIf="edit">
        <button type="button" class="btn btn-info" (click)="updateTask(task)">Save</button>
        <button type="button" class="btn btn-danger" (click)="deleteTask(task._id)">Delete</button>
    </div>
    <div *ngIf="!edit">
        <button type="button" class="btn btn-primary" (click)="addTask(task)">Save</button>
        <button type="button" class="btn btn-warning" (click)="clean()">Cancel</button>
    </div>
</form>
<div style="margin-top:40px">
    <code>
            {{ tracer }}
    </code>
</div>