<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">Mean</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="login">
                <a class="nav-link" routerLink="/tasks/create">Create</a>
            </li>
        </ul>
        <form class="form-inline" *ngIf="!login">
            <button class="btn btn-primary mr-sm-2" type="button" (click)="goLogin()">Sign In</button>
            <button class="btn btn-success" type="button">Sign Up</button>
        </form>
        <form class="form-inline" *ngIf="login">
            <button class="btn btn-info mr-sm-2" type="button" (click)="logout()">Logout</button>
        </form>
    </div>
</nav>