<form action="#">
    <div class="form-group">
        <label for="txtTitle">Username</label>
        <input 
            type="text" 
            class="form-control" 
            id="txtUsername" 
            [(ngModel)]="user.username"
            name="username"
            required />
    </div>
    <div class="form-group">
        <label for="txtDescription">Password</label>
        <input 
            type="password"
            class="form-control" 
            id="txtPassword"
            [(ngModel)]="user.password"
            name="password"
            required />
    </div>
    <button type="button" class="btn btn-info" (click)="login(user)">Login</button>
</form>