<div class="jumbotron">
    <h1 class="display-4">Angular Mean!</h1>
    <p class="lead">
        {{ message }} your profile !
    </p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/tasks" role="button">Go Tasks</a>
    </p>
</div>
